<center>
    <div class="headline"><h1> Your Event - Our Organization</h1></div>
</center>


<div class="container content">
    <div class="shadow-wrapper margin-bottom-50" >
        <div class="carousel slide carousel-v1 box-shadow shadow-effect-2" id="myCarousel">
            <ol class="carousel-indicators" >
                <li class="rounded-x active" data-target="#myCarousel" data-slide-to="0"></li>
                <li class="rounded-x" data-target="#myCarousel" data-slide-to="1"></li>
                <li class="rounded-x" data-target="#myCarousel" data-slide-to="2"></li>
                <li class="rounded-x" data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <div class="carousel-inner" >
                <div class="item active" >
                    <img class="img-responsive" src="/Images/birthday.jpg" alt="" style="width:100%; height:400px">
                </div>
                <div class="item">
                    <img class="img-responsive" src="/Images/ww.jpg" alt="" style="width:100%; height:400px">
                </div>
                <div class="item">
                    <img class="img-responsive" src="/Images/wedding 2.jpg" alt="" style="width:100%; height:400px">
                </div>
                <div class="item">
                    <img class="img-responsive" src="/Images/rings.jpg" alt="" style="width:100%; height:400px">
                </div>
            </div>

            <div class="carousel-arrow">
                <a data-slide="prev" href="#myCarousel" class="left carousel-control">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a data-slide="next" href="#myCarousel" class="right carousel-control">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<p></p>
<center>
    <div class="headline"><h3>In this site you can schedule, plan, organize and invite your friend to your up coming event</h3></div>
</center>


<br />
<br />
<br />
<br />
<br />


<center>
    <div class="headline"><h2>Our team:</h2></div>
</center>
<div class="row team" >

    <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="https://lh3.googleusercontent.com/-iuPvY8hJla0/AAAAAAAAAAI/AAAAAAAAACQ/5g7mYdtIMo8/photo.jpg" alt="">
                    </div>
                </div>
                <h3><a class="hover-effect">Ahuva Bloy</a> <small>developer</small></h3>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        <img class="img-responsive" src="https://lh3.googleusercontent.com/-iuPvY8hJla0/AAAAAAAAAAI/AAAAAAAAACQ/5g7mYdtIMo8/photo.jpg" alt="">
                    </div>
                </div>
                <h3><a class="hover-effect">Kobi Eliasi</a> <small>developer</small></h3>
            </div>
        </div>
    </div>

<p> &nbsp;&nbsp; &nbsp;</p>
    <!-- Contact Us -->
    <center>
        <div class="headline"><h2>Contact us</h2></div>
        Email: <a href="mailto:jce.events@gmail.com" class="">jce.events@gmail.com</a>
    </center>
    <!-- End Contact Us -->

